#main
{
    background-color: #EEEEEE;
    text-align: center;
}

#img-div
{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

#image
{
    max-width: 80%;
}

#img-caption {
    margin-top: 1em;
}

#tribute-info
{
    text-align: start;
    width: 40vw;
    margin: 0 auto;
}

#tribute-info li
{
    margin-top: 1em;
}

#tribute-info li:last-child
{
    margin-bottom: 2em;
}



@media only screen and (max-width: 600px) {
    #tribute-info {
      width: 90vw;
    }
  }